html
	head
		title= title
	body
		table
			thead 
				tr 
					th 
						Week
					th 
						p Romeo Dubs 
					th 
						p Put it in Herbert
				tr
					th 
						p Week 1
					td 
						p #{ethanScore}
					td 
						p #{nealScore}
				tr 
					th 
						p Week 2
					td 
					td 
				tr 
					th 
						p Total 
					td 
						p #{ethanScore}
					td 
						p #{nealScore}